<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (C) 2022 Algomaps (https://algomaps.com)
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="algolytics" translate="label" sortOrder="10">
            <label>Algolytics</label>
        </tab>
        <section id="algolytics_connector" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <tab>algolytics</tab>
            <class>separator-top</class>
            <label>Algolytics Connector</label>
            <resource>Algolytics_AlgoIntegration::config_module</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_url" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API URL</label>
                </field>
                <field id="api_token" translate="label" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API TOKEN</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="authentication_header_name" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Authorization header name</label>
                </field>
                <field id="authentication_scheme" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Authentication scheme</label>
                </field>
                <field id="session_header_name" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Session header name</label>
                </field>
            </group>
            <group id="one_field" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>One field autocomplete</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_url" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API URL</label>
                </field>
                <field id="api_token" translate="label" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API TOKEN</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="authentication_header_name" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Authorization header name</label>
                </field>
                <field id="authentication_scheme" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Authentication scheme</label>
                </field>
                <field id="session_header_name" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Session header name</label>
                </field>
            </group>
        </section>
    </system>
</config>
